#root {
  /* max-width: 1280px; */
  /* max-width: 100%; */
  /* margin: 0 auto;  */
  /* margin: 0;
  padding: 3rem 15rem; */
  text-align: center;
  background-color: darkslategrey;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden;  */
}
body {
  font-family: 'Open Sans', sans-serif;
}

h1, p {
  font-family: 'Open Sans', sans-serif;
}
.logo {
  height: 5em;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 4em #000000aa);
  
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}




.form{
  text-align: center;
padding:0em  20em ;
}
/* .read-the-docs {
  color: #6f6f6f;
  padding: 1.5em;
  text-align: center; 
} */
.btn{
  margin: 5px;
}
.titles{
  color:rgb(255, 255, 255);
  text-align: center;

}
.textWhite{
  color:rgb(255, 255, 255);
  text-align: center;
}
.green{
  color: green;
}

.orange{
  color: rgb(235, 135, 48);
}

.red{
  color: red;
}